In [1]:
import models
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("us_change_cleaned.csv")
X = data.drop(columns='Consumption')
y = data['Consumption']

In [3]:
X.shape, y.shape

((198, 6), (198,))

In [4]:
X_train = X[:int(0.8*len(X))]
y_train = y[:int(0.8*len(y))]
X_test = X[int(0.8*len(X)):]
y_test = y[int(0.8*len(y)):]
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((158, 6), (158,), (40, 6), (40,))

In [5]:
X_train[-4:]

     Quarter    Income  Production    Savings  Unemployment     Date
154      154 -2.123959   -3.349753 -27.365973           0.5  2008 Q3
155      155  0.867342   -4.371497  34.223733           1.2  2008 Q4
156      156 -0.429951   -5.778784  -5.022486           1.4  2009 Q1
157      157  1.069271   -2.890965  22.778077           0.8  2009 Q2

In [6]:
y_train[-4:]

154   -0.751601
155   -0.935007
156   -0.226118
157   -0.405844
Name: Consumption, dtype: float64

In [7]:
X_test[:4]

     Quarter    Income  Production    Savings  Unemployment     Date
158      158 -1.137177    1.491363 -26.369067           0.3  2009 Q3
159      159 -0.024645    1.557405   3.304550           0.1  2009 Q4
160      160  0.560634    1.947034   3.077214           0.0  2010 Q1
161      161  1.634157    1.944893  15.822528          -0.5  2010 Q2

In [8]:
metrics = ['mse', 'mae']

In [9]:
# Mean 
model = models.Mean()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
model.evaluate(metrics=metrics, X=X_test, y=y_test)

{'mse': 0.12819038773370228, 'mae': 0.2858484325156872}

In [10]:
print(y_train.mean())
print(y_pred)

0.7782184182306155
[0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842 0.77821842
 0.77821842 0.77821842 0.77821842 0.77821842]

In [11]:
# RandomWalk
model = models.RandomWalk()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
model.evaluate(metrics=metrics, X=X_test, y=y_test)

{'mse': 1.1112844464118405, 'mae': 1.0071672410592745}

In [12]:
print(y_train.iloc[-1])
print(y_pred)

-0.405843686476004
[-0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369 -0.40584369
 -0.40584369 -0.40584369 -0.40584369 -0.40584369]

In [13]:
# SeasonalRandomWalk
model = models.SeasonalRandomWalk()
model.fit(X_train, y_train,4)
y_pred = model.predict(X_test)
model.evaluate(metrics=metrics, X=X_test, y=y_test)

{'mse': 1.571022276851322, 'mae': 1.1809660421185963}

In [14]:
# Drift
model = models.Drift()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
model.evaluate(metrics=metrics, X=X_test, y=y_test)

{'mse': 1.420756470158393, 'mae': 1.140927793687848}

In [15]:
# LinearRegression
model = models.LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
model.evaluate(metrics=metrics, X=X_test, y=y_test)

{'mse': 0.02238550411797885, 'mae': 0.11513144763974555}